.hello{
    /*加载样式*/
    color: blue;
    /*加载字体*/
    font-family: D-DIN-Normal;
}

@font-face {
    font-family: 'D-DIN-Normal';
    src: url("./assets/D-DIN/D-DIN.woff");
    font-weight: normal;
}
@font-face {
    font-family: 'D-DIN-Bold';
    src: url("./assets/D-DIN/D-DIN-Bold.woff");
    font-weight: bold;
}